@font-face {
  font-family: 'Smooch Sans';
  src: url('../Fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
